Repository mrmrob003/approve: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, mypy, isort, jupyter-nb-clear-output, pytest

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: black
    name: black
    entry: black
    language: system
    types: [python]

  - id: flake8
    name: flake8
    entry: flake8
    language: system
    types: [python]
    args: ["--config", "flake8.ini"]

  - id: mypy
    name: mypy
    entry: mypy
    description: static type checker for Python
    language: system
    types: [python]
    args: ["--config", "mypy.ini"]
  
  - id: isort
    name: isort
    entry: isort
    description: import sorting for Python
    language: system
    types: [python]
    args: ["--profile", "black"]

  - id: jupyter-nb-clear-output
    name: jupyter-nb-clear-output
    entry: jupyter nbconvert --clear-output
    files: \.ipynb$
    language: system

  - id: pytest
    name: pytest
    entry: pytest
    types: [python]
    language: system

Updated models.py.
  .pre-commit-config.yaml
  src/approve/models.py
Due: black, flake8, mypy, isort, pytest

Moved mypy.ini into pyproject.toml.
  .pre-commit-config.yaml
  mypy.ini
  pyproject.toml
Due: none

Successfully install package in editable mode.
  .pre-commit-config.yaml
  README.md
  pyproject.toml
Due: none

Create CI.yml
  .github/workflows/CI.yml
Due: none

Update CI.yml
  .github/workflows/CI.yml
Due: none

Added coverage reporting.
  .github/workflows/CI.yml
  README.md
Due: none

Updated CI.yml.
  .github/workflows/CI.yml
Due: none

Updated codecov badge.
  README.md
Due: none

Updated class names.
  README.md
  src/approve/models.py
  tests/test_models.py
Due: black, flake8, mypy, isort, pytest

Added pytesting for different versions.
  .github/workflows/tests.yml
  README.md
  pyproject.toml
Due: none

Updated versions.
  .github/workflows/tests.yml
Due: none

Consolidated github actions.
  .github/workflows/CI.yml
  .github/workflows/tests.yml
Due: none

Updated python versions.
  README.md
  pyproject.toml
Due: none

Added an example and updated README.md.
  .pre-commit-config.yaml
  README.md
  examples/citation_network.png
  examples/citation_network_updated.png
  examples/getting_started.ipynb
Due: jupyter-nb-clear-output

Added CITATION.cff.
  CITATION.cff
  pyproject.toml
Due: none

Updated readme, including figures. Removed examples folder.
  README.md
  examples/citation_network.png
  examples/citation_network_updated.png
  examples/getting_started.ipynb
  figures/citation_network.png
  figures/citation_network_updated.png
Due: jupyter-nb-clear-output

Corrected acronym.
  CITATION.cff
  README.md
  pyproject.toml
Due: none

Versioning is now dynamic.
  pyproject.toml
Due: none

Created docs.
  .github/workflows/tests.yml
  .gitignore
  docs/Makefile
  docs/conf.py
  docs/index.rst
  docs/make.bat
  docs/source/approve.rst
  docs/source/modules.rst
  pyproject.toml
  src/approve/models.py
  tests/test_models.py
Due: black, flake8, mypy, isort, pytest

Updated readme.
  README.md
Due: none

Simplified pyproject.toml.
  .github/workflows/tests.yml
  pyproject.toml
Due: none

Updated README.md
  README.md
Due: none

Updated docstrings.
  src/approve/models.py
Due: black, flake8, mypy, isort, pytest

Updated pre-commit hooks.
  .pre-commit-config.yaml
Due: none

Updated docs.
  docs/index.rst
Due: none

Added .readthedocs.yaml
  .readthedocs.yaml
Due: none

Updated .readthedocs.yaml
  .readthedocs.yaml
Due: none

Added requirements for docs.
  .readthedocs.yaml
  docs/requirements.txt
Due: none

Updated .readthedocs.yaml
  .readthedocs.yaml
  docs/requirements.txt
Due: none

Added docs badge.
  README.md
Due: none

Create python-publish.yml
  .github/workflows/python-publish.yml
Due: none

Updated version.
  src/approve/__init__.py
Due: black, flake8, mypy, isort, pytest

Removed pypi badge.
  README.md
Due: none
